.App {
  text-align: center;
}

.textDecoration {
  text-decoration: none;
}

.colorPrimary {
  color: #00c2cb;
}

.buttonLink {
  transition   : all .4s ease-in-out;
  border-bottom: 1px solid transparent;
}

.buttonLink:hover {
  border-bottom: 1px solid #7ed957;
}

.buttonHoverOff:hover {
  background: transparent !important;
}

#root {
  height: 100%;
}

/* body {
  background-color: rgb(230, 230, 230);
} */



/* Animacion del carrito */

#homepage,
#cartAnimation {
  transition: all .7s ease-in-out;
  transition-delay: .2s;
}


#cartAnimation {
  display         : flex;
  align-items     : center;
  position        : absolute;
  top             : 0;
  bottom          : 0;
  left            : 0;
  right           : 0;
  z-index         : 100;
  transform       : translateX(300%);
}


#containerHomePage.heightContainerHomePage {
  height: 100vh;
}

#homepage {
  transform: translateX(0%);
}


#cartAnimation.translateCart {
  transform: translateX(0%);
}

#homepage.translateLeft {
  transform: translateX(-300%);
}

.heightInputProfile {
  height: 57px !important;
}

.buttonSpan span {
  margin: 0px;
}



html,
body {
  position: relative;
  height  : 100%;
}

html {
  scroll-behavior: smooth;
}