.App {
  text-align: center;
}

.textDecoration {
  text-decoration: none;
}

.colorPrimary {
  color: #00c2cb;
}

.buttonLink {
  transition: all .4s ease-in-out;
  border-bottom: 1px solid transparent;
}

.buttonLink:hover {
  border-bottom: 1px solid #7ed957;
}

#root { 
  height: 100%
}
html, body {
  position: relative;
  height: 100%;
}