.aceptar{
    background-color: rgb(28, 170, 28);
    color:white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 64px;
    text-decoration: none;
    width           : 74px;
}
.aceptar:hover{
    background-color: rgb(22, 139, 22);

}
.rechazar{
    background-color: rgb(255, 36, 36);
    color:white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    width: 64px;
    cursor: pointer;
    text-decoration: none;
    width           : 74px;
}
.rechazar:hover{
    background-color: rgb(170, 25, 25);

}
.infractor{
    background-color:rgba(233, 233, 233, 0.993);
    width:300px;
    padding: 10px 20px;
    margin: 20% auto;
    position: relative;
    border-radius: 10px;
  }
  .modal{
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: all 1s;
  }
  #infractor:target{
    opacity:1;
    pointer-events:auto;
  }

  .author{
    background-color:rgba(233, 233, 233, 0.993);
    width:300px;
    padding: 10px 20px;
    margin: 20% auto;
    position: relative;
    border-radius: 10px;
  }
  .modal{
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: all 1s;
  }
  #author:target{
    opacity:1;
    pointer-events:auto;
  }

  .text{
      border: gray solid 1px;
  }
  .estimar{
    background-color:rgba(233, 233, 233, 0.993);
    width:300px;
    padding: 10px 20px;
    margin: 20% auto;
    position: relative;
    border-radius: 10px;
  }
  .modal{
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: all 1s;
  }
  #estimar:target{
    opacity:1;
    pointer-events:auto;
  }
  .desestimar{
    background-color:rgba(233, 233, 233, 0.993);
    width:300px;
    padding: 10px 20px;
    margin: 20% auto;
    position: relative;
    border-radius: 10px;
  }
  .modal{
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: all 1s;
  }
  #desestimar:target{
    opacity:1;
    pointer-events:auto;
  }

.estimarButton{
  background-color: rgb(187, 1, 1);
  margin-bottom: 2px;
  width: 30%;
  display: flex;
  justify-content: center;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  padding: 3px;
  box-shadow: rgb(212, 212, 212) 2px 2px ;
  border: none;
  cursor: pointer;
}
.estimarButton:hover{
  background-color: rgb(255, 0, 0);
}
.desestimarButton{
  background-color: green;
  width: 30%;
  display: flex;
  justify-content: center;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  padding: 3px;
  box-shadow: rgb(212, 212, 212) 2px 2px ;
  border: none;
  cursor: pointer;
}
.desestimarButton:hover{
  background-color: rgb(21, 155, 4);
}