.namePublication{
    display: flex;
    justify-content: center;
}
.publication{
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
}

.bottonPublication{
    background-color: rgb(146, 187, 146) ;
    transition: 10ms;
    /* margin: 10px; */
    border: rgb(146, 187, 146) solid 1px;
    border-radius: 5px;
    cursor: pointer;
}
.bottonPublication:hover{
    background-color: #2e7d32;

}

.buttonsPublication{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.buttonBox{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}