.card-usuario{
    margin-top: 10px;
    width: 70%;
    border-bottom: solid black 1px ;
    border-bottom: solid #e6e6e6 1px ;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.box-usuarios{
    /* width: 50%; */
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
  }

  .one {
    flex: 1 ;
  }

  .two {
    flex: 1 ;
  }

  .three {
    flex: 1 ;
  }
  .four{
    flex: 1 ;
  }
  .modal{
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: all 1s;
  }
  #denuncias:target{
    opacity:1;
    pointer-events:auto;
  }

  .text{
      border: gray solid 1px;
  }
 