.cardMain {
    box-shadow: 1px 1px 3px #00c1cb6c !important;
    transition: all .4s ease-in-out !important;
}

.cardMain:hover {
    transform: translateY(-3%);
    box-shadow: 0px 1px 5px #00c2cb;
}
.cardMain:hover .noshowButton_Cart_Info {
    transform: translateY(30%);
}
.noshowButton_Cart_Info {
    transform: translateY(118%);
    transition: all .4s ease-in-out ;
}

.showButton_Cart_Inf {
    transition: all .5s ease-in-out;
}

.Carousel-root-1 {
    overflow: visible !important;
}

.CarouselItem {
    height: 250px !important;
}

@media (max-width: 1200px) {
    .cardMain:hover .noshowButton_Cart_Info {
        transform: translateY(28%);
    }
}