.aceptar {
  background-color: rgb(28, 170, 28);
  color           : white;
  padding         : 5px;
  border          : none;
  border-radius   : 5px;
  cursor          : pointer;
  width           : 64px;
  text-decoration : none;
  width           : 74px;
}

.aceptar:hover {
  background-color: rgb(22, 139, 22);

}

.rechazar {
  background-color: rgb(255, 36, 36);
  color           : white;
  padding         : 5px;
  border          : none;
  border-radius   : 5px;
  width           : 64px;
  cursor          : pointer;
  text-decoration : none;
  width           : 74px;
}

.rechazar:hover {
  background-color: rgb(170, 25, 25);

}

.modal-contenido {
  background-color: rgba(233, 233, 233, 0.993);
  width           : 300px;
  padding         : 10px 20px;
  margin          : 20% auto;
  position        : relative;
  border-radius   : 10px;
}

.modal {
  background-color: rgba(0, 0, 0, .8);
  position        : fixed;
  top             : 0;
  right           : 0;
  bottom          : 0;
  left            : 0;
  opacity         : 0;
  pointer-events  : none;
  transition      : all 1s;
}

#miModal:target {
  opacity       : 1;
  pointer-events: auto;
}

.modal-contenido2 {
  background-color: rgba(233, 233, 233, 0.993);
  width           : 300px;
  padding         : 10px 20px;
  margin          : 20% auto;
  position        : relative;
  border-radius   : 10px;
}

.modal {
  background-color: rgba(0, 0, 0, .8);
  position        : fixed;
  top             : 0;
  right           : 0;
  bottom          : 0;
  left            : 0;
  opacity         : 0;
  pointer-events  : none;
  transition      : all 1s;
}

#miModa:target {
  opacity       : 1;
  pointer-events: auto;
}

.text {
  border: gray solid 1px;
}