.swipePublicaionRelated {
  height: 500px;
}

.swipePublicaionRelated .swiper-slide {
  background-color: transparent;
  font-size: 0px;
  justify-content: center;
  width: auto;
}

.cardPublicationRelated .itemPublicationRelated {
  z-index: 10;
}
