.swiper-container {
    width : 100%;
    height: 90%;
    overflow: hidden;
    /* background-color: tomato; */
}


.swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: #f3f3f3;  
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    object-fit: contain;
}

.swiper-slide .woman_header {
    position: absolute;
    display: block;
    width: 50%;
    object-fit: cover;
    right: 5%;
    bottom: 0%;
    height: 87%;
}

.swiper-slide .woman_header:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
}

.swiper-button-next::after, .swiper-button-prev::after {
    font-size: 20px;
    color: #00c2cb;
}

.swiper-pagination-bullet {
    background: #00c2cb;
}

@media (min-width: 1592px) and (max-width: 1920px) {
    .swiper-button-next::after, .swiper-button-prev::after {
        font-size: 39px;
    }
}
